<!doctype html>
<!-- sets Angular application to Ilyeo as defined in app.js -->
<html ng-app="Ilyeo">

<head>
    <!-- Search engine metadata -->
    <meta name="description"
          content="Geef je nieuwe semester een KICK start en kom met ons meetrainen! Een afwisselende en gezellige manier om (weer) fit te worden. ">
    <meta name="keywords" content="Ilyeo, taekwondo, tae kwon do, SSC, Eindhoven">
    <meta name="author" content="Eindhovense Studenten Taekwondo Vereniging Ilyeo">

    <!-- Site configuration and style imports -->
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/slick.css">
    <link rel="stylesheet" type="text/css" href="css/slick-theme.css">
    <title>Home</title>
    
    <!-- Load angular before other scripts to ensure ng-cloak is functional -->
    <script src="js/angular.min.js"></script>
</head>
<!-- uses the indexCtrl controller as defined in app.js -->
<body ng-controller="indexCtrl" onLoad="check_browser()">

<noscript>
    <style type="text/css">
        .pagecontainer {display:none;}
    </style>
    <div>
        <div class="noscriptmsg">
            Please enable Javascript in order to view this website. <br>
            Activeer Javascript om deze website te gebruiken.
        </div>
    </div>
</noscript>

<div class="pagecontainer">

<div id="main" ng-cloak>
    <a href="#">
        <img src="images/css/logo.png" id="logo" width="365" height="250">
    </a>

    <div id="header">
        <img src="images/css/header.jpg" width="960"/>
    </div>
    <!-- All buttons leading to different pages, as set in indexCtrl in app.js -->
    <nav class="main">
        <ul>
            <li ng-repeat="(key, value) in pages"><a ui-sref="{{key}}">{{ENG?value.eng:value.dutch}}</a></li>
        </ul>
    </nav>
    <section class="main">
        <!-- two random images -->
        <div class="left" ng-cloak>
            <img src="images/impression/{{img1}}" width="310px">
            <img src="images/impression/{{img2}}" width="310px">
            <div class="ref">
                <a href="mailto:bestuur@ilyeo.nl"><img src="images/css/mail.png" alt="Email us"/></a>
                <a href="https://www.facebook.com/pages/Taekwondo-Ilyeo/152247771640325"><img src="images/css/facebook.png" alt="Facebook"></a>
                <a href="http://www.essf.nl"><img src="images/css/essf.png" alt="ESSF" /></a>
                <a href="https://github.com/Vaults/ilyeo-web"><img src="images/css/github.png" alt="ESSF" /></a>
            </div>
        </div><!-- Content of selected page -->
        <div class="right">
            <div class="langs">
                <a href ng-click="changeLang('EN')"><img src="images/flags/en_flag.png"></a>
                <a href ng-click="changeLang('NL')"><img src="images/flags/nl_flag.jpg"></a></div>
            <div ui-view></div>
        </div>
    </section>
    <section class="footer">

    </section>

</div>


<!-- import of all required javascript libraries -->
<script src="js/jquery-2.0.3.min.js"></script>
<script src="js/jquery.backstretch.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/angular-ui-router.min.js"></script>
<!-- initalizes page scripts -->
<script src="js/data/beltexams.js"></script>
<script src="js/data/boards.js"></script>
<script src="js/app.js"></script>

<!-- Script to have pak.jpg as background, requires JQuery to be imported -->
<script type="text/javascript">
    $.backstretch("images/css/pak.jpg");
</script>

<!-- Script necessary for google analytics (https://support.google.com/analytics/?hl=en#topic=3544906) -->
<script id="GoogleAnalytics">
(function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
    a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
ga('create', 'UA-55567878-1', 'auto');
ga('send', 'pageview');
</script>


<!--

-->
<script type="text/javascript">
    function get_browser(){
        var ua=navigator.userAgent,tem,M=ua.match(/(opera|chrome|safari|firefox|msie|trident(?=\/))\/?\s*(\d+)/i) || []; 
        
        if (/trident/i.test(M[1])) {
            tem=/\brv[ :]+(\d+)/g.exec(ua) || []; 
            return {name:'IE',version:(tem[1]||'')};
        }   
        if (M[1]==='Chrome') {
            tem = ua.match(/\b(OPR|Edge)\/(\d+)/i);
            if (tem != null) return {name : tem[1] === 'OPR' ? 'Opera' : tem[1], version : tem[2]};
        }   
        M=M[2]? [M[1], M[2]]: [navigator.appName, navigator.appVersion, '-?'];
        if((tem=ua.match(/version\/(\d+)/i))!=null) {M.splice(1,1,tem[1]);}
        return {
          name: M[0],
          version: M[1]
        };
    }
    
    function check_browser() {
        var browser = get_browser();
        switch (browser.name) {
            case 'Firefox':
                if (parseInt(browser.version) < 40) 
                  unsupported(browser);
                break;
            
            case 'Chrome':
                if (parseInt(browser.version) < 40) 
                  unsupported(browser);
                break;
                
            case 'Edge':
                if (parseInt(browser.version) < 25) 
                  unsupported(browser);
                break;
                
            case 'IE':
                unsupported(browser);
                break;
                
            case 'Opera':
                if (parseInt(browser.version) < 15) 
                  unsupported(browser);
                break;
                
            case 'Safari':
                if (parseInt(browser.version) < 7) 
                  unsupported(browser);
                break;
                
            default:
                unsupported(browser);
                break;
        }
    }
    
    function unsupported(browser) {
       alert('Your browser, ' + browser.name + ' ' + browser.version + ', is not supported by this website. Therefore any performance may differ from expectations.');
    }
</script>

</div>

</body>

</html>