
        <h1>Examens</h1>
        <p style="font-style: italic">
            License to kick!
        </p>
        <p><a ui-sref="exameneisen">klik hier voor de exameneisen</a></p>
        <h2>Examenuitslagen</h2>
        <div ng-repeat="d in data">
            <h3>{{d.dutchDate}}</h3>
            <table class="exam-results">
                <tr>
                    <th class="candidate">Kandidaat</th>
                    <th class="from belt">Van</th>
                    <th class="to belt">Naar</th>
                </tr>
                <tr ng-repeat="b in d.belts">
                    <td>{{b.name}}</td>

                    <td ng-class="belts[b.from].c"><span class="belt"></span>{{belts[b.from].dutch}}</td>
                    <td ng-class="belts[b.to].c"><span class="belt"></span>{{belts[b.to].dutch}}</td>
                </tr>
            </table>

            <p ng-if="d.img">
                <img border="0" src="{{d.img}}" align="center" height="413" width="556"><br>
                vlnr:
                <p>
                    <div ng-if="d.lefttoright.length > 1">
                        <div ng-repeat="r in d.lefttoright track by $index">
                            Row {{$index+1}}: {{r}}
                        </div>
                    </div>
                    <div ng-if="d.lefttoright.length == 1">
                        {{d.lefttoright[0]}}
                    </div>
                </p>
            </p>
            <i ng-if="!d.img">Foto helaas niet beschikbaar.</i>
            <br>
        </div>

        <h1>REAL DATA:</h1>


        <h3>19 februari 2009</h3>

        <table class="exam-results">
            <tr>
                <th class="candidate">Kandidaat</th>
                <th class="from belt">Van</th>
                <th class="to belt">Naar</th>
            </tr>
            <tr>
                <td>Mark van Domburg</td>
                <td class="white"><span class="belt"></span>Wit</td>
                <td class="yellow"><span class="belt"></span>Geel</td>
            </tr>
            <tr>
                <td>Mark Graus</td>
                <td class="white"><span class="belt"></span>Wit</td>
                <td class="yellow"><span class="belt"></span>Geel</td>
            </tr>
            <tr>
                <td>Tobi Maas</td>
                <td class="white"><span class="belt"></span>Wit</td>
                <td class="yellow"><span class="belt"></span>Geel</td>
            </tr>
            <tr>
                <td>Wenya Zhou</td>
                <td class="white"><span class="belt"></span>Wit</td>
                <td class="yellow"><span class="belt"></span>Geel</td>
            </tr>
        </table>
        <img border="0" src="images/exams/geslaagden08.jpg" align="center"><br>
        vlnr:
        Richard, Merijn, Mark D, Wenya, Tobi, Mark G en Redouane

        <h3>24 april 2008</h3>

        <table class="exam-results">
            <tr>
                <th class="candidate">Kandidaat</th>
                <th class="from belt">Van</th>
                <th class="to belt">Naar</th>
            </tr>
            <tr>
                <td>Bas Ploeger</td>
                <td class="green"><span class="belt"></span>Groen</td>
                <td class="blue"><span class="belt"></span>Blauw</td>
            </tr>
        </table>
        <i>Foto helaas niet beschikbaar. </i>

        <h3>15 februari 2007</h3>

        <table class="exam-results">
            <tr>
                <th class="candidate">Kandidaat</th>
                <th class="from belt">Van</th>
                <th class="to belt">Naar</th>
            </tr>
            <tr>
                <td>Marieke Tjebbes</td>
                <td class="green"><span class="belt"></span>Groen</td>
                <td class="blue"><span class="belt"></span>Blauw</td>
            </tr>
            <tr>
                <td>Hoi Ying Chan</td>
                <td class="green"><span class="belt"></span>Groen</td>
                <td class="blue"><span class="belt"></span>Blauw</td>
            </tr>
            <tr>
                <td>Gertjan Groen</td>
                <td class="yellow"><span class="belt"></span>Geel</td>
                <td class="green"><span class="belt"></span>Groen</td>
            </tr>
            <tr>
                <td>Martijn de Groot</td>
                <td class="yellow"><span class="belt"></span>Geel</td>
                <td class="green"><span class="belt"></span>Groen</td>
            </tr>
            <tr>
                <td>Joep Richter</td>
                <td class="white"><span class="belt"></span>Wit</td>
                <td class="yellow"><span class="belt"></span>Geel</td>
            </tr>
            <tr>
                <td>Vincent Giel</td>
                <td class="white"><span class="belt"></span>Wit</td>
                <td class="yellow"><span class="belt"></span>Geel</td>
            </tr>
        </table>
        <img border="0" src="images/exams/geslaagden06.jpg" align="center"><br>vlnr:
        Merijn, Gertjan, Vincent, Joep, Marieke, Martijn, Hoi Ying, Richard en Redouane

        <h3>8 juni 2006</h3>

        <table class="exam-results">
            <tr>
                <th class="candidate">Kandidaat</th>
                <th class="from belt">Van</th>
                <th class="to belt">Naar</th>
            </tr>
            <tr>
                <td>Richard van den Hoven</td>
                <td class="red"><span class="belt"></span>Rood</td>
                <td class="red-black"><span class="belt"></span>Rood/Zwart</td>
            </tr>
            <tr>
                <td>Dorothee Wasserberg</td>
                <td class="blue-red"><span class="belt"></span>Blauw/Rood</td>
                <td class="red"><span class="belt"></span>Rood</td>
            </tr>
        </table>
        <img border="0" src="images/exams/geslaagden05.jpg" align="center"><br>
        vlnr:
        Redouane, Dorothee, Richard en Merijn

        <h3>23 februari 2006</h3>

        <table class="exam-results">
        <tr>
            <th class="candidate">Kandidaat</th>
            <th class="from belt">Van</th>
            <th class="to belt">Naar</th>
        </tr>
        <tr>
            <td>Jeroen de Klerk</td>
            <td class="green"><span class="belt"></span>Groen</td>
            <td class="blue"><span class="belt"></span>Blauw</td>
        </tr>
        <tr>
            <td>Bas Ploeger</td>
            <td class="yellow"><span class="belt"></span>Geel</td>
            <td class="green"><span class="belt"></span>Groen</td>
        </tr>
        <tr>
            <td>Niels Bakx</td>
            <td class="yellow"><span class="belt"></span>Geel</td>
            <td class="yellow-green"><span class="belt"></span>Geel/Groen</td>
        </tr>
        <tr>
            <td>Hanneke Vinke</td>
            <td class="white"><span class="belt"></span>Wit</td>
            <td class="yellow"><span class="belt"></span>Geel</td>
        </tr>
        <tr>
            <td>Martijn de Groot</td>
            <td class="white"><span class="belt"></span>Wit</td>
            <td class="yellow"><span class="belt"></span>Geel</td>
        </tr>
        <tr>
            <td>Gertjan Groen</td>
            <td class="white"><span class="belt"></span>Wit</td>
            <td class="yellow"><span class="belt"></span>Geel</td>
        </tr>
        </table>
        <img border="0" src="images/exams/geslaagden04.jpg" align="center"><br>
        vlnr:
        Merijn, Niels, Martijn, Bas, Gertjan, Hanneke, Jeroen, Redouane en Richard

        <h3>24 februari 2005</h3>

        <table class="exam-results">
            <tr>
                <th class="candidate">Kandidaat</th>
                <th class="from belt">Van</th>
                <th class="to belt">Naar</th>
            </tr>
            <tr>
                <td>Dorothee Wasserberg</td>
                <td class="green-blue"><span class="belt"></span>Groen/Blauw</td>
                <td class="blue-red"><span class="belt"></span>Blauw/Rood</td>
            </tr>
            <tr>
                <td>Jasper Lipsch</td>
                <td class="green"><span class="belt"></span>Groen</td>
                <td class="blue"><span class="belt"></span>Blauw</td>
            </tr>
            <tr>
                <td>Yu Hong Tam</td>
                <td class="yellow-green"><span class="belt"></span>Geel/Groen</td>
                <td class="green-blue"><span class="belt"></span>Groen/Blauw</td>
            </tr>
            <tr>
                <td>Hoi Ying Chan</td>
                <td class="yellow"><span class="belt"></span>Geel</td>
                <td class="green"><span class="belt"></span>Groen</td>
            </tr>
            <tr>
                <td>Marieke Tjebbes</td>
                <td class="yellow"><span class="belt"></span>Geel</td>
                <td class="green"><span class="belt"></span>Groen</td>
            </tr>
            <tr>
                <td>J.J. Vegas Olmos</td>
                <td class="white"><span class="belt"></span>Wit</td>
                <td class="yellow-green"><span class="belt"></span>Geel/Groen</td>
            </tr>
            <tr>
                <td>Vesta</td>
                <td class="white"><span class="belt"></span>Wit</td>
                <td class="yellow-green"><span class="belt"></span>Geel/Groen</td>
            </tr>
            <tr>
                <td>Michael Moussaid</td>
                <td class="white"><span class="belt"></span>Wit</td>
                <td class="yellow"><span class="belt"></span>Geel</td>
            </tr>
            <tr>
                <td>Rik Frankfort</td>
                <td class="white"><span class="belt"></span>Wit</td>
                <td class="yellow"><span class="belt"></span>Geel</td>
            </tr>
            <tr>
                <td>Fons Raemaekers</td>
                <td class="white"><span class="belt"></span>Wit</td>
                <td class="yellow"><span class="belt"></span>Geel</td>
            </tr>
            <tr>
                <td>Bas Ploeger</td>
                <td class="white"><span class="belt"></span>Wit</td>
                <td class="yellow"><span class="belt"></span>Geel</td>
            </tr>
            <tr>
                <td>Niels Bakx</td>
                <td class="white"><span class="belt"></span>Wit</td>
                <td class="yellow"><span class="belt"></span>Geel</td>
            </tr>
        </table>
        <img border="0" src="images/exams/geslaagden03.jpg" align="center"><br>
        vlnr: <br>
        <i>Staand:</i> Merijn, Richard, Jasper, Dorothee, Bas, Michael, Niels, J.J., Fons en Redouane.</br>
        <i>Gehurkt:</i> Vesta, Yu Hong, Marieke en Hoi Ying

        <h3>1 april 2004</h3>

        <table class="exam-results">
            <tr>
                <th class="candidate">Kandidaat</th>
                <th class="from belt">Van</th>
                <th class="to belt">Naar</th>
            </tr>
            <tr>
                <td>Dorothee Wasserberg</td>
                <td class="yellow-green"><span class="belt"></span>Geel/Groen</td>
                <td class="green-blue"><span class="belt"></span>Groen/Blauw</td>
            </tr>
            <tr>
                <td>Jasper Lipsch</td>
                <td class="yellow"><span class="belt"></span>Geel</td>
                <td class="green"><span class="belt"></span>Groen</td>
            </tr>
            <tr>
                <td>Joffry Maltha</td>
                <td class="yellow"><span class="belt"></span>Geel</td>
                <td class="green"><span class="belt"></span>Groen</td>
            </tr>
            <tr>
                <td>Yu Hong Tam</td>
                <td class="white"><span class="belt"></span>Wit</td>
                <td class="yellow-green"><span class="belt"></span>Geel/Groen</td>
            </tr>
            <tr>
                <td>Marline</td>
                <td class="white"><span class="belt"></span>Wit</td>
                <td class="yellow"><span class="belt"></span>Geel</td>
            </tr>
            <tr>
                <td>Marieke Tjebbes</td>
                <td class="white"><span class="belt"></span>Wit</td>
                <td class="yellow"><span class="belt"></span>Geel</td>
            </tr>
            <tr>
                <td>Yanja Dajsuren</td>
                <td class="white"><span class="belt"></span>Wit</td>
                <td class="yellow"><span class="belt"></span>Geel</td>
            </tr>
            <tr>
                <td>Dion Boesten</td>
                <td class="white"><span class="belt"></span>Wit</td>
                <td class="yellow"><span class="belt"></span>Geel</td>
            </tr>
            <tr>
                <td>Willem-Jan van Harskamp</td>
                <td class="white"><span class="belt"></span>Wit</td>
                <td class="white-yellow"><span class="belt"></span>Wit/Geel</td>
            </tr>
        </table>
        <img border="0" src="images/exams/geslaagden02.jpg" align="center"><br>
        vlnr: Merijn, Yanja, Dion, Yu Hong, Willem-Jan, Jasper <i>(gehurkt)</i>, Joffry, Richard, Marieke, Dorothee, Marline en Redouane.<br>

        <h3>Juni 2003</h3>
        <table class="exam-results">
            <tr>
                <th class="candidate">Kandidaat</th>
                <th class="from belt">Van</th>
                <th class="to belt">Naar</th>
            </tr>
            <tr>
                <td>Matthijs Boerlage</td>
                <td class="yellow"><span class="belt"></span>Geel</td>
                <td class="green"><span class="belt"></span>Groen</td>
            </tr>
            <tr>
                <td>Dorothee Wasserberg</td>
                <td class="white"><span class="belt"></span>Wit</td>
                <td class="yellow-green"><span class="belt"></span>Geel/Groen</td>
            </tr>
            <tr>
                <td>Hoi Ying Chan</td>
                <td class="white"><span class="belt"></span>Wit</td>
                <td class="yellow"><span class="belt"></span>Geel</td>
            </tr>
            <tr>
                <td>Jasper Lipsch</td>
                <td class="white"><span class="belt"></span>Wit</td>
                <td class="yellow"><span class="belt"></span>Geel</td>
            </tr>
            <tr>
                <td>Dah-kee Chan</td>
                <td class="white"><span class="belt"></span>Wit</td>
                <td class="yellow"><span class="belt"></span>Geel</td>
            </tr>
            <tr>
                <td>Mark Kleemans</td>
                <td class="white"><span class="belt"></span>Wit</td>
                <td class="yellow"><span class="belt"></span>Geel</td>
            </tr>
            <tr>
                <td>Marijn Wittevrongel</td>
                <td class="white"><span class="belt"></span>Wit</td>
                <td class="yellow"><span class="belt"></span>Geel</td>
            </tr>
            <tr>
                <td>Joffry Maltha</td>
                <td class="white"><span class="belt"></span>Wit</td>
                <td class="yellow"><span class="belt"></span>Geel</td>
            </tr>
            <tr>
                <td>Jan Karczkhee </td>
                <td class="white"><span class="belt"></span>Wit</td>
                <td class="yellow"><span class="belt"></span>Geel</td>
            </tr>
        </table>
        <img border="0" src="images/exams/geslaagden01.jpg" align="center"><br>
        vlnr: <br>
        <i>Staand:</i> Redouane, ... , Dah-Kee, Joffry, Marijn, Hoi Ying, Jan en Merijn.</br>
        <i>Gehurkt:</i> Mark, Jasper, Matthijs en Dorothee.</br>
